@model LobbyFormViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/lobbyConstructor.css">

<div class="page-content">
    <ul class="lobby-creation-nav">
        <h1 class="pb-2">Категории</h1>
        <li>
            <a href="@Url.Action("NewLobby", "LobbyConstructor")">Игра</a>
        </li>
        <li>
            <a href="@Url.Action("NewEntity", "LobbyConstructor")">Токены</a>
        </li>
        <li>
            <a href="@Url.Action("NewMap", "LobbyConstructor")">Карты</a>
        </li>

    </ul>

    <div class="lobby-creation-content">
        @Html.Partial("Partial/NewLobby", Model)
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/lobbyConstructor.js"></script>