:root {
    --font-ubuntu-regular: 'Ubuntu', sans-serif;
    --font-ubuntu-medium: 'Ubuntu Medium', sans-serif;
    --white: #f4f4f4;
    --tekhelet: #3D348B;
    --darker: #121212;
    --dark: #181818;
    --grey: rgba(140, 140, 140, 0.53);
    --light-grey: rgba(175, 175, 175, 0.7);
    --border: 1px solid rgba(140, 140, 140, 0.14);
}

html {
    font-size: 18px;
    font-family: var(--font-ubuntu-regular);
    background-color: var(--darker);
    letter-spacing: 1px;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
}

body {
    background-color: var(--darker);
    margin: 0;
    height: 100%;
}

html * {
    color: var(--white) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.header p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-ubuntu-medium) !important;
    font-weight: bold;
    margin: 0;
}

main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.unset {
    all: unset;
}

.unset:hover {
    all: unset;
}

.game {
    background-color: var(--darker);
}

.container {
    display: grid;
    grid-template-columns: 82% 18%;
    height: 100%;
}

.top {
    display: grid;
    grid-template-columns: 82% 18%;
    height: 2.6em;
    vertical-align: middle;

    .right {
        padding: 8px 8px 0 0;
        margin: 0;
        display: flex;
        gap: 6px;
        border-bottom: var(--border);
        justify-content: end;

        * {
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        * img {
            height: 1.5em;
            width: 1.5em;
        }
    }

    .left {
        display: flex;
        gap: 4px;
        overflow: scroll;

        .tab {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            vertical-align: middle;
            width: 5em;
            cursor: pointer;
            
            .plus {
                font-size: 26px;
            }
        }

        .tab * {
            margin: 0.65em;
        }

        .selected {
            cursor: default;
            background-color: var(--dark);
        }

        .tab:hover {
            background-color: var(--dark);
        }
    }
}

.left::-webkit-scrollbar {
    display: none;
}

.tools {
    background-color: var(--darker);
    min-height: 100%;
}

ul, li {
    list-style-type: none;
}

.list {
    padding-right: 40px;
}

.list-item {
    padding: 5px 0 5px 0;
}

.list-header {
    padding-bottom: 5px;
    border-bottom: var(--border);
}

.list-item-child {
    padding: 5px 0 0 20px;
}

.plus, .minus {
    margin: 0;
    padding: 0;
}

.plus::before {
    content: '+';
}

.minus::before {
    content: '-';
}

.hidden {
    display: none;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    width: 70em;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--darker);
}

.input-file-row {
    display: inline-block;
}

.input-file {
    position: relative;
    display: inline-block;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 1em;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: var(--tekhelet);
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: var(--grey);
}

/* Список c превью */
.input-file-list {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.input-file-list-item {
    display: inline-block;
    margin: 0 15px 15px;
    width: 150px;
    vertical-align: top;
    position: relative;
}

.input-file-list-item img {
    width: 150px;
}

.input-file-list-name {
    text-align: center;
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-file-list-remove {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 5px;
    background: #000000;
    width: 20px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
}
