:root {
    --font-ubuntu-regular: 'Ubuntu', sans-serif;
    --font-ubuntu-medium: 'Ubuntu Medium', sans-serif;
    --alice-blue: #D5DFE5;
    --eerie-black: #191716;
    --sea-green: #5C946E;
    --tekhelet: #3D348B;
    --dark-spring-green: #337357;
}

html {
    font-size: 16px;
    font-family: var(--font-ubuntu-regular);
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: var(--eerie-black);
    background: var(--alice-blue);
}

.header p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-ubuntu-medium) !important;
}

button {
    border: 1px solid var(--eerie-black);
    border-radius: 8px;
    padding: 7px 13px;
    background-color: var(--tekhelet);
    color: var(--alice-blue);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    border-color: var(--alice-blue);
    outline: var(--eerie-black) thin;
    box-shadow: 0 0 0 2px var(--eerie-black);
}

.unset {
    all: unset;
}

.unset:hover {
    all: unset;
}

.asterisk:after {
    content: '*';
    margin-left: 1px;
    color: var(--eerie-black);
}

.input-field {
    height: 2.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid var(--tekhelet);
    border-radius: 8px;
    background-color: var(--alice-blue);
    color: var(--eerie-black);
}

.input-field:focus {
    border-color: var(--eerie-black);
    outline: #ffffff thin;
    box-shadow: 0 0 0 2px var(--alice-blue);
}

.input-field:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.card {
    background-color: var(--eerie-black);
    color: var(--alice-blue);
    border-radius: 1rem;
}

.card {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.53);
}

a {
    color: var(--alice-blue);
}

a:hover {
    color: white;
}

.error-span {
    color: rgba(158, 157, 168, 0.87);
}

.lobby-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 5em;
}

.lobby-item {
    margin: 1em;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
    padding: 1em;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

li {
    list-style-type: none;
}

.navbar {
    background-color: var(--alice-blue);
    margin-bottom: 1em;
}

.navbar a {
    color: var(--eerie-black) !important;
}

.lobby-search-container {
    margin-bottom: 2em;
}

.lobby-search-container input {
    width: 85%;
}

.lobby-search-container button:hover {
    cursor: pointer;
}

.lobby-creation-nav {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 150px;
    background-color: #f1f1f1;
}