<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>

<div class="container">
    <div class="header">
        <h1>Пример заголовка</h1>
    </div>
    <button>Press me</button>
    <div class="form-group">
        <label class="form-label">Логин<span class="asterisk"></span>:</label>
        <input class="input-field" name="Aboba"/>
    </div>
</div>