@model IEnumerable<LobbyFormViewModel>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex w-100 justify-content-center lobby-search-container">
        <input class="input-field" id="lobby_search" type="text">
        <button class="unset ms-4" id="new_lobby">Новое лобби</button>
    </div>
</div>

<div class="lobby-list-container">
    @await Html.PartialAsync("Partial/LobbyList")
</div>