@model IEnumerable<LobbyFormViewModel>

@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center lobby-search-container">
    <div class="">
        <h1 class="pb-0 mb-0">Dungeons & Dragons</h1>
        <p class="pb-0 mb-0">найди свое приключение</p>
    </div>
    <input class="input-field" id="lobby_search" type="text">
    <button class="unset ms-4" id="new_lobby">Новое лобби</button>
</div>

<div class="lobby-list-container">
    @await Html.PartialAsync("Partial/LobbyList")
</div>