@model List<CharacterViewModel>

@{
    var defaultImgPath = "Content/default.png";
}

<div id="new-character" class="lobby-creation-item-container">
    <div id="add-character" class="lobby-creation-item card card3d new-item">
        <p>+</p>
    </div>
    @foreach (var item in Model)
    {
        <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
            <div class="lobby-creation-item-name d-flex">
                <p>@item.Name</p>
            </div>

            <div class="lobby-creation-item-file">
                <img src="@(Url.Content(item.FilePath) ?? defaultImgPath)" alt="img"/>
            </div>

            @if (item.Description != null)
            {
                <div class="lobby-creation-item-desc">
                    <p>@item.Description</p>
                    <span validation-for="Description"></span>
                </div>
            }
        </div>
    }

    <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
        <div class="lobby-creation-item-name d-flex">
            <p>Дварф друид</p>
        </div>

        <div class="lobby-creation-item-file">
            <img src="@(Url.Content(defaultImgPath))" alt="img"/>
        </div>

        <div class="lobby-creation-item-desc">
            <p>
                Долгие годы вы жили с собратьями в одной из главных дварфских крепостей, где держали небольшую пивоварню.
                Дела шли неплохо, но вас не оставляло чувство, что вы находитесь не на своём месте.
                Наконец, когда внутренний конфликт стал внешним, вам пришлось спешно покинуть крепость.
                Хотя тот день и стал началом новой жизни, вы не очень любите вспоминать произошедшее.
                После недолгих скитаний вы обосновались в небольшом лесу, где наконец нашли гармонию и почувствовали себя частью чего-то такого,
                что вряд ли удалось бы выразить словами. Первое время вам было непросто, пришлось осваивать новые навыки и принять ограниченность
                собственных возможностей. Но со временем вы набирали силы и сами не заметили, как стали защитником земель, которые теперь называли домом.
                Кажется, сама природа напитывала вас энергией и давала познать толику своих тайн.
                Впрочем, пригодились и умения из прошлой жизни: отличное знание камня позволило углубить небольшой грот и сделать его пригодным для проживания, а навык пивоварения вкупе с изучением диких трав подарили вам грюйт — пряный напиток, скрасивший в итоге не один тихий вечер. Но, к сожалению, тихим вечерам пришел конец.
            </p>
            <span validation-for="Description"></span>
        </div>
    </div>
</div>

<script>
    handleCard3d(2.5);
</script>
