@model List<CreatureViewModel>

@{
    var defaultImgPath = "Content/default.png";
}

<div id="new-creature" class="lobby-creation-item-container">
    <div id="add-creature" class="lobby-creation-item card card3d new-item">
        <p>+</p>
    </div>
    @foreach (var item in Model)
    {
        <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
            <div class="lobby-creation-item-name d-flex">
                <p>@item.Name</p>
            </div>

            <div class="lobby-creation-item-file">
                <img src="@(Url.Content(item.FilePath) ?? defaultImgPath)" alt="img"/>
            </div>

            @if (item.Description != null)
            {
                <div class="lobby-creation-item-desc">
                    <p>@item.Description</p>
                    <span validation-for="Description"></span>
                </div>
            }
        </div>
    }

    <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
        <div class="lobby-creation-item-name d-flex">
            <p>Аватар Смерти (Avatar of Death)</p>
        </div>

        <div class="lobby-creation-item-file">
            <img src="@Url.Content(defaultImgPath)" alt="img"/>
        </div>

        <div class="lobby-creation-item-desc">
            <p>
                Призрачный гуманоидный скелет, облаченный в изодранную чёрную одежду и вооружённый призрачной косой.
                Он появляется в пределах 10 футов от вас (в месте по выбору Мастера) и нападает на вас,
                предупреждая всех, что вы должны выиграть это сражение в одиночку.
                Аватар смерти сражается до тех пор, пока вы не погибнете, или его хиты не опустятся до 0.
                После этого он исчезает. Если кто-нибудь попытается помочь вам, он вызовет этим собственный Аватар смерти.
                Существо, убитое образом смерти, не может быть возвращено к жизни.
            </p>
        </div>
    </div>
</div>

<script>
    handleCard3d(2.5);
</script>