@model List<ItemViewModel>

@{
    var defaultImgPath = "Content/default.png";
}

<div id="new-item" class="lobby-creation-item-container">
    <div id="add-item" class="lobby-creation-item card card3d new-item">
        <p>+</p>
    </div>
    @foreach (var item in Model)
    {
        <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
            <div class="lobby-creation-item-name d-flex">
                <p>@item.Name</p>
            </div>

            <div class="lobby-creation-item-file">
                <img src="@(Url.Content(item.FilePath) ?? defaultImgPath)" alt="img"/>
            </div>

            @if (item.Description != null)
            {
                <div class="lobby-creation-item-desc">
                    <p>@item.Description</p>
                    <span validation-for="Description"></span>
                </div>
            }
        </div>
    }

    <div class="lobby-creation-item card card3d" title="Нажмите чтобы увидеть подробное описание">
        <div class="lobby-creation-item-name d-flex">
            <p>Рукавицы Изумрудной Защиты</p>
        </div>

        <div class="lobby-creation-item-file">
            <img src="@(Url.Content(defaultImgPath))" alt="img"/>
        </div>

        <div class="lobby-creation-item-desc">
            <p>
                Эти великолепные латные перчатки, известные как Рукавицы Изумрудной Защиты, восхищают своим блеском и защитными свойствами.
                Их поверхность украшена инкрустацией изумрудов, создавая впечатление, что драгоценные камни охраняют носителя.
                Латные части перчаток изготовлены из прочного металла, тщательно отлитого и украшенного рельефными узорами.
            </p>
            <span validation-for="Description"></span>
        </div>
    </div>
</div>

<script>
    handleCard3d(2.5);
</script>